@model MyMVCApp.Models.BatchAddVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-horizontal">
    @using (Html.BeginForm("BatchAdd", "Student"))
    {
        <div class="form-group">
            @Html.LabelFor(c => c.DistrictID, new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownListFor(c => c.DistrictID, Model.DistrictList, "Select...", new { @class = "form-control" })
            </div>

        </div>


        <div class="panel">
            <div class="panel-heading">Student Add</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="col-md-2">Name</label>
                            <div class="col-md-10">
                                <input type="text" id="name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact" class="col-md-2">Contact</label>
                            <div class="col-md-10">
                                <input type="text" id="contact" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="age" class="col-md-2">Age</label>
                            <div class="col-md-10">
                                <input type="text" id="age" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-md-2">Address</label>
                            <div class="col-md-10">
                                <textarea id="address" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" id="addButton" value="Add" class="btn btn-success" />
                            </div>
                        </div>
                    </div>



                </div>

                <div class="row">
                    <div>
                        <table class="table table-bordered table-striped table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Name
                                        
                                        </th>
                                    <th>Contact</th>
                                    <th>Age</th>
                                    <th>Address</th>
                                </tr>

                            </thead>
                            <tbody id="tbStudents">
                                
                            </tbody>
                            
                        </table>
                    </div>
                </div>


            </div>

        </div>

        <div class="row">
            <div class="right">
                <input type="submit" value="Save Batch" class="btn btn-primary" />
            </div>

        </div>



    }



</div>

@section Scripts{
    <script>
        var index = 0;
        $("#addButton").click(() => {

                var student = getStudentRecord();
                var studentRow = addRow(student);
            

            $("#tbStudents").append(studentRow);
                index++;
            }
        );

        function getStudentRecord(parameters) {
            var name = $("#name").val();
            var address = $("#address").val();
            var contact = $("#contact").val();
            var age = $("#age").val();

            return { Name: name, Address: address, Contact: contact, Age: age };
        
        }

        function addRow(student) {

            var nameHidden = "<input type='hidden' name='Students[" + index + "].Name' value='" + student.Name + "'/>";
            var contactHidden = "<input type='hidden' name='Students[" + index + "].Contact' value='" + student.Contact + "'/>";
            var ageHidden = "<input type='hidden' name='Students[" + index + "].Age' value='" + student.Age + "'/>";
            var addressHidden = "<input type='hidden' name='Students[" + index +"].Address' value='" + student.Address+"'/>";


            var tr = "<tr>";
            var nameCell = "<td>" + nameHidden+ student.Name + "</td>";
            
            var contactCell = "<td>" + contactHidden+ student.Contact + "</td>";
            var ageCell = "<td>" + ageHidden+ student.Age + "</td>";
            var addressCell = "<td>" + addressHidden+ student.Address + "</td>";
            var trend = "</tr>";

            var row = tr + nameCell + contactCell + ageCell + addressCell + trend;

            return row;

        }
    </script>


}